<ion-view title="ABOUT US" id="page12">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/ZshiqReYTICTlFL7C48T_WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="aBOUTUS-markdown1" class="show-list-numbers-and-dots">
      <h3>Creators</h3>

      <ul>
        <li>Alan Niemiec</li>
        <li>Shane Gleeson</li>
        <li>Dara Starr</li>
      </ul>

      <p style="color:#000000;">This Mock Banking application was created as part of our fourth year final year project in Computing in Software Development in Galway-Mayo Institute of Technology.</p>

      <h3>Alan Niemiec</h3>

      <ul>
        <li>Age : 22</li>
        <li>Nationality : Polish</li>
        <li>County: Galway</li>
        <li>Main area of expertise: Back-end, middleware, authentication</li>
        <li>Worked with: API (NodeJS), AngularJS, Mongodb, Heroku, Auth0</li>
      </ul>

      <h3>Shane Gleeson</h3>

      <ul>
        <li>Age : 21</li>
        <li>Nationality : Irish</li>
        <li>County : Galway</li>
        <li>Main area of expertise: Front-end, middleware,</li>
        <li>Worked with: Ionic, CSS, HTML5,AngularJS</li>
      </ul>

      <h3>Dara Starr</h3>

      <ul>
        <li>Age : 30</li>
        <li>Nationality : Irish</li>
        <li>County : Galway</li>
        <li>Main area of expertise: Middleware</li>
        <li>Worked with: API (NodeJS), AngularJS, Mongodb</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
