<ion-view title="FAILED TO LOGIN" id="page12">
  <ion-content padding="true" style="background: url(img/AlK50btWSYSouCFs6Uec_Gmit.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="fAILEDTOLOGIN-form10" class="list">
      <h3 id="fAILEDTOLOGIN-heading5" style="color:#F71313;text-align:center;">Incorrect Details Please Try Again</h3>
      <ion-list id="fAILEDTOLOGIN-list6">
        <label class="item item-input" id="fAILEDTOLOGIN-input3">
          <span class="input-label">PIN</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.aCCOUNTS" id="fAILEDTOLOGIN-button13" class="button button-assertive  button-block icon-right ion-android-arrow-forward">Log in</a>
    </form>
  </ion-content>
</ion-view>