<ion-view title="Login" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input1">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="login-input2">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="login-button1" class="button button-positive  button-block icon-right ion-android-checkbox">Login</button>
  </ion-content>
</ion-view>