<ion-view title="Login" id="page11">
  <ion-content padding="true" style="background: url(img/AlK50btWSYSouCFs6Uec_Gmit.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form9" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input2">
          <span class="input-label">PIN</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.aCCOUNTS" id="login-button12" class="button button-assertive  button-block icon-right ion-android-arrow-forward">Log in</a>
    </form>
  </ion-content>
</ion-view>