<ion-view title="MORE" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/ZshiqReYTICTlFL7C48T_WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.aBOUTUS" id="mORE-button10" class="button button-assertive  button-block">ABOUT US</a>
    <a ui-sref="tabsController.lOCATION" id="mORE-button20" class="button button-assertive  button-block">LOCATION</a>
  </ion-content>
</ion-view>
