<ion-view title="PAYEMENT" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="pAYEMENT-list4">
      <label class="item item-select" id="pAYEMENT-select2">
        <span class="input-label">Pay From</span>
        <select>
          <option>Current Account</option>
        </select>
      </label>
      <label class="item item-select" id="pAYEMENT-select3">
        <span class="input-label">Pay To</span>
        <select>
          <option>MR Tim Riggins</option>
          <option></option>
        </select>
      </label>
    </ion-list>
    <form id="pAYEMENT-form6" class="list">
      <label class="item item-input" id="pAYEMENT-textarea4">
        <span class="input-label">Amount: </span><textarea placeholder=""></textarea></label>
    </form>
    <form id="pAYEMENT-form7" class="list">
      <label class="item item-input" id="pAYEMENT-textarea5">
        <span class="input-label">Message To PAYEE: </span><textarea placeholder=""></textarea></label>
    </form>
    <div id="pAYEMENT-button-bar4" class="button-bar">
      <a ui-sref="tabsController.tRANSFERTOANOTHERACCOUNT" id="pAYEMENT-button18" class="button button-assertive  button-block icon-right ion-android-cancel">Cancel</a>
    </div>
    <button id="pAYEMENT-button19" class="button button-assertive  button-block icon-right ion-android-arrow-forward">Continue</button>
  </ion-content>
</ion-view>