<ion-view title="PAYEE DETAILS" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="pAYEEDETAILS-list3">
      </div>
	<div class="list">
  <label class="item item-input">
    <span class="input-label">PAYEE Name: </span>
    <input type="payeename">
  </label>
  <label class="item item-input">
    <span class="input-label">Account Number:</span>
    <input type="accountnumber">
  </label>
</div>
    </ion-list>
    <div id="pAYEEDETAILS-button-bar3" class="button-bar">
      <a ui-sref="tabsController.tRANSFERTOANOTHERACCOUNT" id="pAYEEDETAILS-button15" class="button button-positive  button-block">Cancel</a>
      <button id="pAYEEDETAILS-button16" class="button button-positive  button-block">Continue</button>
 
  </ion-content>
</ion-view>