<ion-view title="PAYMENT" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <form class="list" ng-submit="sendTransaction(payfrom, payto, amount, message)">
      <ion-list id="pAYMENT-list4">
        <label class="item item-select"  id="accounts-select2">
          <span class="input-label">Pay From: </span>
          <select ng-model="payfrom" >
            <option ng-repeat="transfer in transferMoney" value={{transfer.accid}}>{{transfer.accounttype}} : {{transfer.balance}}  €  </option>
          </select>
        </label>
      </ion-list>
      <label class="item item-select" id="pAYMENT-select3">
        <span class="input-label">Pay To:</span>
        <select ng-model="payto">
          <option ng-repeat="selectPay in selectPayee">{{selectPay.name}}</option>
        </select>
      </label>

      <label class="item item-input" id="pAYMENT-textarea4">
        <span class="input-label">Amount: </span><textarea placeholder="" ng-model="amount"></textarea></label>

      <label class="item item-input"  id="pAYMENTtextarea5">
        <span class="input-label" >Message To PAYEE: {{msgPayee}}</span><textarea placeholder="" ng-model="message"></textarea></label>
    <button  id="pAYMENT-button19" type="submit" class="button button-assertive  button-block icon-right ion-android-arrow-forward" >Submit</button>
  </form>

    <label id="trans.status">{{paymentStatus}}</label>
  </ion-content>
</ion-view>
