<ion-view title="TRANSACTIONS" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/pVDDZ3x1Rr6wMwbi6oSy_GMIT20Bank.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.tRANSFERS" id="tRANSACTIONS-button1" class="button button-assertive  button-block icon-right ion-android-arrow-forward">Transactions</a>
  </ion-content>
</ion-view>