<ion-view title="TRANSACTIONS" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <body ng-app="app" ng-controller="TodoCtrl">
  <ion-content padding="true" style="background: url(img/pVDDZ3x1Rr6wMwbi6oSy_GMIT20Bank.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.tRANSFERS" id="tRANSACTIONS-button1" class="button button-assertive  button-block icon-right ion-android-arrow-forward">Transactions</a>
    <ion-list id="tRANSACTIONSCtrl-list2">
      <ion-item id="ownerName">Account Number: {{accountNumber}}</ion-item>
      <ion-item id="accountNumber">Transaction Date: {{transDate}}</ion-item>
      <ion-item id="accountBalance">Transaction Type: {{transType}}</ion-item>
      <ion-item id="accountBalance">Transaction Amount: {{transAmt}}</ion-item>
      <ion-item id="accountBalance">Transaction Summary: {{transSum}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>