# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.vscode/
node_modules/
bower_components/
platforms/
plugins/
npm-debug.log
#read profile
.log
build/
www/build/
#www/build/
#www/css/style.*
#www/img/
#www/templates/
#www/index.html
