<ion-view title="Login" id="page1">
<ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/5bHUSBr5RyqGLeGJfTvA_GMIT20Bank.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
	<table style="width:100%" >
      <label class="item item-input" id="login-input1">
        <span class="input-label">1st</span>
        <input type="number" placeholder=""
		class="item item-input" id="login-input1">
        <span class="input-label">2nd</span>
        <input type="number" placeholder=""
		class="item item-input" id="login-input1">
        <span class="input-label">3rd</span>
        <input type="number" placeholder=""
		class="item item-input" id="login-input1">
        <span class="input-label">4th</span>
        <input type="number" placeholder=""
		class="item item-input" id="login-input1">
        <span class="input-label">5th</span>
        <input type="number" placeholder=""
		class="item item-input" id="login-input1">
        <span class="input-label">6th</span>
        <input type="number" placeholder="">		
      </label>
	  </table>
    </form>
    <button id="login-button1" class="button button-positive  button-block icon-right ion-android-checkbox">Login</button>
  </ion-content>
</ion-view>

