<ion-view title="PAYEE DETAILS" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="pAYEEDETAILS-form2" class="list">
      <label class="item item-input" id="pAYEEDETAILS-textarea1">
        <span class="input-label">PAYEE Name:</span><textarea placeholder=""></textarea></label>
    </form>
    <form id="pAYEEDETAILS-form3" class="list">
      <label class="item item-input" id="pAYEEDETAILS-textarea2">
        <span class="input-label">PAYEE Account Number:</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="pAYEEDETAILS-button-bar3" class="button-bar">
      <a ui-sref="tabsController.tRANSFERTOANOTHERACCOUNT" id="pAYEEDETAILS-button15" class="button button-assertive  button-block icon-right ion-android-cancel">Cancel</a>
    </div>
    <button id="pAYEEDETAILS-button16" class="button button-assertive  button-block icon-right ion-android-arrow-forward">Continue</button>
  </ion-content>
</ion-view>