<ion-view title="PAYEE DETAILS" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> LOGOUT</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/WsVUZ4k3S7uNrqDuAT5a_16683437_720994714744903_1054767197_n.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="pAYEEDETAILS-list3">
      <label class="item item-select" id="pAYEEDETAILS-select1">
        <span class="input-label">Country of PAYEE</span>
        <select>
          <option>Ireland</option>
          <option>United Kingdom</option>
          <option>United States</option>
          <option>China</option>
          <option>Japan</option>
          <option>Australia</option>
          <option>New Zealand</option>
          <option>Croatia</option>
        </select>
      </label>
      <ion-item id="pAYEEDETAILS-list-item10">PAYEE Name</ion-item>
      <ion-item id="pAYEEDETAILS-list-item11">PAYEE BIC</ion-item>
      <ion-item id="pAYEEDETAILS-list-item12">PAYEE IBAN</ion-item>
      <ion-item id="pAYEEDETAILS-list-item13">Message To PAYEE</ion-item>
    </ion-list>
    <div id="pAYEEDETAILS-button-bar3" class="button-bar">
      <a ui-sref="tabsController.tRANSFERTOANOTHERACCOUNT" id="pAYEEDETAILS-button15" class="button button-positive  button-block">Cancel</a>
      <button id="pAYEEDETAILS-button16" class="button button-positive  button-block">Continue</button>
    </div>
  </ion-content>
</ion-view>